<section class="wrapper platsall">
	<div class="container">		
		<h1>Les Couscous marocains</h1>

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "Couscous-marocain-cuisine-de-roukia-traiteur-et-marocaine-de-tradition-libourne-bordeaux-saint-germain-arveyres.jpg", alt:"Couscous royal par Cuisine de roukia à Libourne cuisine marocaine de tradition et traiteur." %></span>
			<div class="content">
				<h2>Couscous Royal</h2>
				<p>Composé de 3 viandes : Agneau, Poulet & Merguez. Assortiment de 12 légumes frais : Pommes de terre, courgettes, patates douces, navets, céleri, carottes, citrouille, fèves, oignons, chou, pois chiche & pommes de terre.</p>
				<table class="coloried">
					<thead>
						<th>12,00 € <sup>TTC</sup> par personne</th>
						<th>Couverts complets: + 1 € <sup>TTC</sup></th>
						<th>Livraison offerte à partir de 12 personnes</th>
					</thead>
				</table>	
			</div>
		</article>
		
		<hr>

		<article class="right plats pagined">
			<span class="image"><%= image_tag "Couscous-vegetarien-saint-germain-arveyres-Cuisine-de-Roukia.jpg", alt:"Le fameux couscous du traiteur la Cuisine de Roukia dans sa version végétarienne." %></span>
			<div class="content">
				<h2>Couscous végétarien</h2>
				<p>Avec son assortiment de 12 légumes frais, pourquoi rajouter de la viande ? <br>Pommes de terre, courgettes, patates douces, navets, céleri, carottes, citrouille, fèves, oignons, chou, pois chiche & pommes de terre ...</p>
				<table class="coloried">
					<thead>
						<th>10,00 € <sup>TTC</sup> par personne</th>
						<th>Couverts complets: + 1 € <sup>TTC</sup></th>
						<th>Livraison incluse à partir de 12 personnes</th>	
					</thead>
				</table>
			</div>
		</article>			

		<hr>

	</div>
	<br><br>
	<center>
		<ul class="actions">
			<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/" class="button big alt after">Revenir aux propositions</a>
			<li><a href="http://www.cuisinederoukia.fr/contact.html"class="button big alt after">Passer commande</a>
		</ul>
		</center>
</section>

