<section class="wrapper platsall">
	<div class="container">		
		<h1>Mechoui & Cuisson à la broche</h1>

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "mechoui-agneau-a-la-broche-cuisine-de-roukia-traiteur-marocaine-de-tradition-libourne-arveyres-bordeaux-st-germain-du-puch.jpg", alt:"Mechoui d'agneau à la broche réalisé par la cuisine de Roukia, Cuisine et Traiteur marocain de tradition" %></span>
			<div class="content">
				<h2>Le Méchoui Caïdal</h2>
				<p>L'animation idéale pour vos événements conviviaux ! <br>Disposition de citernes coupées en deux pour recueillir la braise sas endommager votre jardin. L'agneau est cuît à la broche puis découpée sous vos yeux. Il est ensuite assaisonné de cumin & paprika doux. <br> Servi sous la forme d'un buffet avec 2 entrées & 2 accompagnements au choix (voir propositions d'accompagnements ci-dessous). </p>
			</div>
		</article>
		
		<hr>

		<article class="right plats pagined entrees">
			<span class="image"><%= image_tag "Poivrons-marines-cuisine-de-roukia-bordeaux-libourne.jpg", alt:"Salade de poivrons marinés réalisée par le traiteur marocain la cuisine de Roukia. Fraicheur garantie." %></span>
			<div class="content">
				<h2>Les Entrées (2 au choix)</h2>
				<p>Un assortiment d'entrées rafraîchissantes idéal pour les repas d'été.</p>
					<ul>
						<li>Poivrons estivaux : Poivrons grillés, tomates, citrons confits, ail, coriandre</li>
						<li>La fraîcheur: Salade de tomates, concombres, persil.</li>
						<li>Poivrons marinés : Poivrons grillés marinés à l'huile d'olive & à l'ail</li>
						<li>Poivrons rouge et vert & tomates grillés, ail, persil, coriandre, citrons confîts, jus de citrons, vinaigre blanc & cumin.</li>
					</ul>
			</div>
		</article>			

		<hr>

		<article class="left plats accompagnements">
			<span class="image"><%= image_tag "zalouk-caviar-aubergine-traiteur-cuisine-de-roukia-libourne-saint-germain-arveyres.jpg", alt:"Caviar d'aubergine par le traiteur la cuisine de roukia, réalisé à saint germain du puch" %></span>
			<div class="content">
				<h2>Les accompagnements (2 au choix)</h2>
				<p>Du traditionnel caviar d'aubergine en passant par le tajine berbere, vous avez toutes les cartes en mains pour ravir vos convives.</p>
					<ul>
						<li><strong>Tatchouka:</strong> poivrons verts & rouges grillés, sauce tomate & épices (coriandre, gimgembre, persil & cumin).
						<li><strong>Zaalouck:</strong> aubergines, ail, compotés à l'huile d'olive, sauce tomate, olives noires & épices (gingembre, persil & cumin).
						<li><strong>Tajine Berbère: </strong>assortiments de légumes, cannelle, safran, épices (gingembre, persil & coriandre).
						<li><strong>Saugrenade: </strong>pommes de terre ou courgettes, sauce tomate, safran, épices (cumin & coriandre).
						<li><strong>Haricots "Mogette": </strong>sauce tomate, safran & épices (coriandre, persil, cumin).
					</ul>
			</div>
		</article>
		
		<hr>

		<article class="right plats pagined">
			<span class="image"><%= image_tag "Patisseries-marocaines-Roukia-cuisine-de-tradition-traiteur-libourne-bordeaux-beychac-arveyres-saint-germain-du-puch.jpg", alt:"Assortiment de pâtisseries marocaines et de thé à la menthe par le traiteur la cuisine de roukia, réalisé à libourne" %></span>
			<div class="content">
				<h2>Dessert & Thé à la menthe</h2>
				<p>Assortiment de 4 pâtisseries marocaines traditionnelles et thé à la menthe fraîche. 4 au choix :</p>
				<table class="coloried">
					<thead>
						<th>Cornes de gazelles</th>
						<th>Fekkas</th>
						<th>Briouates</th>
						<th>Chbakiä</th>
						<th>Ghribä</th>
					</thead>
				</table>
			</div>
		</article>		

		<hr>

	<div class="table-wrapper">
		<table>
			<tbody>
				<tr>
					<td><strong>Mechoui</strong> <b>seul</b></td>
					<td>1 Agneau de 30kg pour environ 30 personnes avec 2 accompagnements au choix.</td>
					<td><b>20 € <sup>TTC</sup></b></td>
				</tr>
				<tr>
					<td><b>Menu complet</b></td>
					<td>Assortiment de 2 entrées au choix par personne, 1 Agneau de 30kg pour environ 30 personnes & 2 accompagnements au choix. 4 patisseries marocaines & Thé à la menthe. Déplacement & Couverts inclus.</td>
					<td><b>30 € <sup>TTC<sup></b></td>
				</tr>
			</tbody>	
		</table>

		<hr>


	</div>
	<br><br>
	<center>
		<ul class="actions">
			<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/" class="button big alt after">Revenir aux propositions</a>
			<li><a href="http://www.cuisinederoukia.fr/contact.html"class="button big alt after">Passer commande</a>
		</ul>
	</center>
</section>