
<section class="wrapper platsall">
	<div class="container">		
		<h1>Pastilla marocaine</h1>

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "pic15.jpg", alt:"Pastilla marocaine traditionnelle sucrée salée réalisée par la cuisine de roukia traiteur marocain de tradition situé dans le libournais, le bordelais." %></span>
			<div class="content">
				<h2>Pastilla marocaine au poulet</h2>
				<p>La pastilla au poulet est une tourte sucrée salée traditionnelle à base de poulet, d'oignons confits, d'amandes, d'œufs, de cannelle et de safran. Sopoudrée de sucre glace elle est d'apparence très plaisante et propose un savoureux mélange atypique. </p>
				<table class="coloried">
					<thead>
						<th>15€ <sup>TTC</sup> par personne</th>
						<th>A partir de 4 personnes</th>
					</thead>
				</table>	
			</div>
		</article>
		
		<hr>

		<article class="right plats pagined">
			<span class="image"><%= image_tag "pastilla-cuisine-de-roukia-traiteur-cuisine-marocaine-libourne-izon-beychac-arveyres.jpg", alt:"Pastilla au pigeonneau réalisé par la cuisine de roukia traiteur marocain et cuisine marocaine dans le libournais et le bordelais arveyres izon saint germain du puch" %></span>
			<div class="content">
				<h2>Pastilla marocaine au pigeonneau</h2>
				<p>La pastilla au pigeonneau est une tourte sucrée salée traditionnelle à base de pigeon, d'oignons confits, d'amandes, d'œufs, de cannelle et de safran. Sopoudrée de sucre glace elle est d'apparence très plaisante et propose un savoureux mélange atypique.</p>
				<table class="coloried">
					<thead>
						<th>15€ <sup>TTC</sup> par personne</th>
						<th>A partir de 4 personnes</th>
					</thead>
				</table>
			</div>
		</article>			

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "pastilla-fruits-de-mer-cuisine-de-roukia-traiteur-et-marocaine-de-tradition-libourne-bordeaux", alt:"Pastilla marocaine aux fruits de mer traditionnelle sucrée salée réalisée par la cuisine de roukia traiteur marocain de tradition situé dans le libournais, le bordelais." %></span>
			<div class="content">
				<h2>Pastilla marocaine aux fruits de mer</h2>
				<p>La pastilla aux fruits de mer est composée de poisson, de bechamel, de fruits de mer, d'ail et de persil.</p>
				<table class="coloried">
					<thead>
						<th>15€ <sup>TTC</sup> par personne</th>
						<th>A partir de 4 personnes</th>
					</thead>
				</table>	
			</div>
		</article>

		<hr>

		<article class="right plats pagined">
			<span class="image"><%= image_tag "Pastilla-saumon-epinard.jpg", alt:"Pastilla au saumon et épinards réalisé par la cuisine de roukia traiteur marocain et cuisine marocaine dans le libournais et le bordelais arveyres izon saint germain du puch" %></span>
			<div class="content">
				<h2>Pastilla marocaine au saumon</h2>
				<p>La pastilla au saumon est une tourte traditionnelle à base de saumon, de fruits de mer, de béchamel et d'épinards. </p>
				<table class="coloried">
					<thead>
						<th>15€ <sup>TTC</sup> par personne</th>
						<th>A partir de 4 personnes</th>
					</thead>
				</table>
			</div>
		</article>			

		<hr>

	</div>

	<br><br>
	<center>
		<ul class="actions">
			<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/" class="button big alt after">Revenir aux propositions</a>
			<li><a href="http://www.cuisinederoukia.fr/contact.html"class="button big alt after">Passer commande</a>
		</ul>
	</center>
</section>