<section class="wrapper platsall">
	<div class="container">		
		<h1>Entrées & Plats froids</h1>

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "Poivrons-marines-cuisine-de-roukia-bordeaux-libourne.jpg", alt:"Une salade de poivrons frais réalisée par le traiteur de la cuisine de Roukia à Libourne." %></span>
			<div class="content">
				<h2>Poivrons estivaux</h2>
				<p>Poivrons grillés, tomates, citrons confits agrémentés d'ail de coriandre de persil. </p>
				<table class="coloried">
					<thead>
						<th>5€ <sup>TTC</sup> par personne</th>
					</thead>
				</table>	
			</div>
		</article>
		
		<hr>

		<article class="right plats pagined">
			<span class="image"><%= image_tag "Salade-de-poivrons-frais-cuisine-de-roukia-traiteur-et-marocaine-de-tradition-libourne-bordeaux-saint-germain-arveyres.jpg", alt:"Poivrons grillés, entrée estivale réalisée par le traiteur la cusine de Roukia à St-germain-du-puch" %></span>
			<div class="content">
				<h2>Poivrons grillés</h2>
				<p>Poivrons grillés marinés à l'huile d'olive et à ail. Une entrée très simple mais qui saura ravir vos convives par sa fraîcheur.</p>
				<table class="coloried">
					<thead>
						<th>5€ <sup>TTC</sup> par personne</th>
					</thead>
				</table>
			</div>
		</article>									
	

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "Salade-marocaine-cuisine-de-roukia-traiteur-de-tradition-libourne-bordeaux-saint-germain-arveyres.jpg", alt:"La salade marocaine à base de concombres & tomates. Un plat signé la Cuisine de Roukia, Traiteur de tradition. " %></span>
			<div class="content">
				<h2>Salade marocaine</h2>
				<p> Tomates, comconbres, persil assaisonné d'une vinaigrette selon l'inspiration du chef. </p>
				<table class="coloried">
					<thead>
						<th>5€ <sup>TTC</sup> par personne</th>
					</thead>
				</table>	
			</div>
		</article>

		<hr>

		<article class="right plats pagined">
			<span class="image"><%= image_tag "harira-soupe-traiteur-marocain-cuisine-de-roukia.jpg", alt:"La fameuse soupe marocaine harira réalisé par le traiteur la cuisine de roukia à Bordeaux." %></span>
			<div class="content">
				<h2>Harira soupe marocaine</h2>
				<p>L'harira est une soupe marocaine traditionnelle. Elle est composée de poulet, de pois chiche, de lentilles, de vermicelle find, de tomates, et d'oignons. Riche en saveurs elle est agrémentée de persil, de coriandre, de céleri, de cannelle, de curcuma et de gingembre.</p>
				<table class="coloried">
					<thead>
						<th>5€ <sup>TTC</sup> par personne</th>
					</thead>
				</table>
			</div>
		</article>									
	

		<hr>



	<br><br>
	<center>
		<ul class="actions">
			<li><a href="/offre-traiteur/" class="button big alt after">Revenir aux propositions</a>
			<li><a href="/contact.html"class="button big alt after">Passer commande</a>
		</ul>
	</center>
    </div>

</section>
