
<section class="wrapper platsall">
	<div class="container">		
		<h1>Plats de fêtes</h1>

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "encornet-farcis.jpg", alt:"Un exemple de plat marocain par le traiteur la cuisine de Roukia" %></span>
			<div class="content">
				<h2>Calamars frais farcis</h2>
				<p>Fruits de mer, vermicelles chinois, sauce à la tomate, olives vertes, citrons confits, safran & coriandre.</p>
				<table class="coloried">
					<thead>
						<th>15€ <sup>TTC</sup> par personne</th>
						<th>A partir de 4 personnes</th>
					</thead>
				</table>	
			</div>
		</article>
		
		<hr>	

	</div>
	<br><br>
	<center>
		<ul class="actions">
			<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/" class="button big alt after">Revenir aux propositions</a>
			<li><a href="http://www.cuisinederoukia.fr/contact.html"class="button big alt after">Passer commande</a>
		</ul>
	</center>

</section>
