<!-- Two -->
<section id="two" class="wrapper special QF">

	<div class="inner">

		<header class="major narrow" id="FAQ">
			<h1>Questions fréquentes</h1>
		</header>
	</div>
</section>

<section id="QR">

	<div class="QR-bloc">
		<h2>Qui sommes-nous ?</h2>
		<div class="reponse">
			<hr>
			<p>La Cuisine de Roukia est un traiteur familial composé de Sylvie & Noureddine Boukhars. Tous deux passionnés de cuisine marocaine et propriétaires d'un restaurant à Casablanca pendant plus de 10 ans, ils ont décidé d'exporter leur savoir-faire en France. Basé à St-Germain-du-puch (33750) en Gironde.</p>
		</div>
	</div>


	<div class="QR-bloc">
		<h2>Quel sont les moyens de paiements acceptés ?</h2>
		<div class="reponse">
			<hr>
			<p>Nous acceptons les chèques, les virements et l'espèce. Malheureusement le paiement par carte bancaire ou ticket restaurant n'est pas encore disponible mais cela ne devrait pas trop tarder.</p>
		</div>
	</div>			

	<div class="QR-bloc">
		<h2>Comment fonctionne la livraison ?</h2>
		<div class="reponse">
			<hr>
			<p>La livraison en Gironde est offerte à partir de 120 € <sup>TTC</sup> de commande. Nous consulter pour une livraison en dehors de la gironde où pour un total inférieur à 120 € <sup>TTC</sup>.</p>
		</div>
	</div>					

	<div class="QR-bloc">
		<h2>Quel est le délai de commande minimum ?</h2>
		<div class="reponse">
			<hr>
			<p>Nous ferons toujours tout notre possible afin de vous satisfaire cependant pour des raisons d'organisation nous vous demandons de bien vouloir prévoir un délai minimum de 48h.</p>
		</div>
	</div>

	<div class="QR-bloc">
		<h2>Proposez-vous des couverts ?</h2>
		<div class="reponse">
			<hr>
			<div class="row uniform 50%">
				<div class="12u">
					<br>
					<%= image_tag "couvert-cuisine-de-roukia-traiteur-marocain-libourne.jpg", alt:"Exemple de couvert proposé par la cuisine de Roukia lors des événements traiteur sur Bordeaux.", style:"max-width:60%" %></a>
				</div>
				<div class="12u$">
					<p>Les couverts sont proposés en option moyennant un supplément de 1 € <sup>TTC</sup>. Cette option comprend 1 grande assiette, 1 verre coloré, 1 fourchette, 1 couteau, 1 grande cuillère mais également 1 petite cuillère et 1 petite assiette si nécéssaire pour déguster la commande.</p>
				</div>
			</div>
		</div>
	</div>								

	<div class="QR-bloc">
		<h2>Proposez-vous le service ? </h2>
		<div class="reponse">
			<hr>
			<p>Le service est possible moyennant un supplément, ce supplément dépendra de la localisation de l'évènement mais également du nombre de participants. N'hésitez pas à nous consulter pour plus de renseignements.</p>
		</div>
	</div>	

	<div class="QR-bloc">
		<h2>Proposez-vous des menus spéciaux pour végétariens ou végétaliens ?</h2>
		<div class="reponse">
			<hr>
			<p>Les végétariens & les végétaliens sont nos amis (les autres aussi d'ailleurs) ! Faîtes-nous savoir si certains de vos invîtés sont végétaliens ou végétariens et nous vous ferons une proposition de plat adapté.</p>
		</div>
	</div>	
</section>

